
@{
    ViewData["Title"] = "Application Submitted";
}

@model mission6.Models.ApplicationResponse


{ 
<h2>Data received.  Thank you!</h2>

}
<div>
    <center><a asp-controller="Home" asp-action="List">View the Matrix</a></center>
</div>